button{
    background-color:#b22222;
    border-radius:15px;
    padding:3px;
    padding-left:10px;
    padding-right:10px;
    color:#ffffff;
    text-shadow:3px;
    font-size:44px;
   font-family: inherit;
    }
    
    button:hover{
        background-color:#008b8b;
        
    }
    
    button:focus{
        outline:0}
    
        